.whole-content,
.adminmenu,
.content,
.footer,
.main,
.sidebar,
.sidebar-item,
.day
.body,
.comment,
.referer,
hr {
  margin: 0 auto;
  margin-bottom: $pad-base;
  width: 100%;
}

.whole-content {
  padding: $pad-small $pad-small 0;
  max-width: 768px;
}

nav form {
  display: inline-block;
}

.commentbody,
.commentshort {
  border-left: 8px solid lighten($primary, 60);
  margin-left: $pad-small;
  padding-left: $pad-small;
  body.update & {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.commentshort p {
  margin: 0;
}

.footer {
  border-top: $border;
  padding-top: $pad-base;
  text-align: center;
  font-size: $font-size-small;
}

div.profile {
  border: none;
  max-width: 320px;
  margin: 0 auto;
  span {
    color: $text;
    font-size: inherit;
    margin-bottom: $pad-small;
    &.profile-name {
      font-size: $font-size-large;
      font-weight: bold;
    }
  }
  ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: $pad-small;
  }
}

form.update > div {
  padding-bottom: $pad-base;
}

hr {
  border-top: $border;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
  margin: 0 auto;
  border: $border;
  &.photo {
    margin: 0 auto;
    float: none;
  }
  #flickr_photos > & {
    display: inline-block;;
  }
}
