.whole-content,
.adminmenu,
.content,
.footer,
.main,
.sidebar,
.sidebar-item,
.day
.body,
.comment,
.referer,
hr {
  margin: 0 auto;
  margin-bottom: $pad-base;
  width: 100%;
}

.whole-content {
  padding: 0 $pad-small;
}

.footer {
  border-top: $border;
  padding-top: $pad-base;
  text-align: center;
  font-size: $font-size-small;
}

.main {}
.sidebar {}

hr {
  border-top: $border;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
  margin: 0 auto;
  border: $border;
  &.photo {
    margin: 0 auto;
    float: none;
  }
}
