span.adminmenu a,
input[type=button],
input[type=submit],
input[type=reset],
button {
  background: $link-color;
  border: $border;
  border-radius: $radius;
  color: $white;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: $pad-small $pad-base;
  padding: $pad-xsmall $pad-small;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

span.adminmenu a:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
  background: darken($link-color, 10);
}

span.adminmenu a:focus,
input[type=button]:focus,
input[type=submit]:focus,
input[type=reset]:focus,
button:focus {
  background: darken($link-color, 10);
}

span.adminmenu a:active,
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
button:active {
  background: darken($secondary, 10);
}

// Ghost <%= navi_admin %> in .sidebar
.sidebar span.adminmenu a {
  background: inherit;
  color: $secondary;
}

.sidebar span.adminmenu a:hover {
  background: darken($link-color, 10);
  color: $white;
}

.sidebar span.adminmenu a:focus {
  background: darken($link-color, 10);
  color: $white;
}

.sidebar span.adminmenu a:active {
  background: darken($secondary, 10);
  color: $white;
}
