@charset "UTF-8";
/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

audio:not([controls]) {
  display: none; }

b,
strong {
  font-weight: bolder; }

button {
  -webkit-appearance: button;
  overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

button,
select {
  text-transform: none; }

details {
  display: block; }

hr {
  overflow: visible; }

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

input {
  -webkit-border-radius: 0; }
  input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; }
  input[type="number"] {
    width: auto; }
  input[type="search"] {
    -webkit-appearance: textfield; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

main {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

summary {
  display: block; }

svg:not(:root) {
  overflow: hidden; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

/*
 * Opinionated defaults
 */
* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  touch-action: manipulation; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

svg {
  fill: currentColor; }

[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute; }
  [hidden][aria-hidden="false"]:focus {
    clip: auto; }

/*
 * Configurable defaults
 */
* {
  background-repeat: no-repeat; }

:root {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 100%/1.5 sans-serif; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

small {
  font-size: 75%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

.whole-content,
.adminmenu,
.content,
.footer,
.main,
.sidebar,
.sidebar-item,
.day
.body,
.comment,
.referer,
hr {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 100%; }

.whole-content {
  padding: 0 8px; }

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 16px;
  text-align: center;
  font-size: 14px; }

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.15); }

img {
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.15); }
  img.photo {
    margin: 0 auto;
    float: none; }

body {
  color: rgba(0, 0, 0, 0.8);
  font-family: Avenir, Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.8; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 500;
  margin: 32px 0 16px; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 28px; }

h4,
h5,
h6 {
  font-weight: 600;
  margin: 16px 0 4px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

p {
  margin-bottom: 16px; }

a {
  color: #385466; }
  .section p a, .section li a, .section dd a, ul.category a {
    color: #2196f3;
    text-decoration: underline; }
    .section p a:visited, .section li a:visited, .section dd a:visited, ul.category a:visited {
      color: #385466; }

.section p a.amazon-detail {
  text-decoration: none; }

pre {
  background: #efefef;
  font-family: "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace;
  margin-bottom: 16px;
  padding: 8px;
  white-space: pre-wrap; }

code {
  font-family: "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace; }

strong {
  color: #a12800; }

em {
  font-weight: 600;
  padding-right: 4px; }

ul,
ol {
  padding-left: 32px;
  margin-bottom: 16px; }
  ul ul,
  ol ul, ul
  ol,
  ol
  ol {
    margin-bottom: 0; }

dl {
  margin-bottom: 16px; }

dd {
  margin-left: 32px; }

blockquote {
  border-left: 2px solid #385466;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  font-style: italic;
  margin-bottom: 16px;
  padding-left: 16px; }

p.source {
  font-size: 14px;
  margin: -16px 0 0; }

div.day div.tags {
  font-size: 14px; }

table {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 16px; }

thead th {
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  text-align: left; }

tbody {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

th,
td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 8px;
  vertical-align: inherit; }

/*# sourceMappingURL=snest.css.map */
